**{
    margin: 0 0;
}

body{
    margin: 0 0;
    background-image: url("restorant background.jpeg");
    background-size: cover;
    background-blend-mode: color-burn;
    width: 100%;
    min-height: 100%;
    text-align: center;
}
h1 {
    text-align: center;
    padding-top: 250px;
  
}

h2{ text-align: center;
    padding: 10px;
}

button{
    border: none;
    font-size: 30px;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 200px;
    margin: 10px 10px;
   
    

}
#incrementbtn{
    background-color: red;
}
#savebtn{
    background-color: green;
}
